{
    "train_path": "../dataset/train_encn_full.txt",
    "dev_path": "../dataset/dev_en.txt",
    "test_path": "../dataset/test_en.txt",
    "dev_path_target": "../dataset/dev_zh.txt",
    "test_path_target": "../dataset/test_zh.txt",
    "word_vec_path": "../dataset/xnli_encn_full.txt",
    "model_dir": "../xnli/logs",
    "suffix": "xnli",
    "fix_word_vec": false,
    "isLower": true,
    "max_sent_length": 128,

    "batch_size": 512,
    "max_epochs": 40,
    "dropout_rate": 0.3,
    "learning_rate": 3,
    "optimize_type": "adadelta",
    "lambda_l2": 0e-4,
    "grad_clipper": 10.0,
    "context_lstm_dim": 100,
    "aggregation_lstm_dim": 100,

    "use_cudnn": true,
    "with_moving_average": false
}
